@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is an application built in C# Language.</p>
<p>Created by: <strong>@ViewData["Creator"]</strong></p>
